In [3]:
'''Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.'''

'Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.'

In [1]:
import pandas as pd

In [2]:
list = [4,8,15,16,23,42]

run = pd.Series(list)
print(run)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
'''Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
variable print it.'''

'Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the \nvariable print it.'

In [6]:
a = [10,20,30,40,50,60,70,80,90,100]

b = pd.Series(a)
print(b)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [7]:
'''Q3. Create a Pandas DataFrame that contains the following data:'''

'Q3. Create a Pandas DataFrame that contains the following data:'

In [9]:
data = [['Alice', 25,'female'], ['Bob', 30,'male'], ['Claire', 27,'female']] 
  
df = pd.DataFrame(data, columns=['Name', 'Age', 'Gender']) 
print(df)

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

In [10]:
df

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

In [11]:
'''Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.'''

'Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.'

In [12]:
# A Pandas Series is a 1D array of data, but a single-column DataFrame is a 2D table with one column. The main distinction between the two is this. 
# For a single-column DataFrame, an index can be optional, but a Series has to have an index defined

# lets take one example....

In [13]:
# Example of series.....

a=['Kawasaki','BMW',"Ducati",'Hayabusa','Yamaha','Aprilia']

code = pd.Series(a)
print(code)

0    Kawasaki
1         BMW
2      Ducati
3    Hayabusa
4      Yamaha
5     Aprilia
dtype: object

In [14]:
# Example of dataframe.....

data = [['kawasaki', 1000,'H2-r'], ['ducati', 1200,'panigale'], ['BMW', 1000,'s1000-rr']] 
  
df = pd.DataFrame(data, columns=['Brand', 'Engine cc', 'Model']) 
print(df)

      Brand  Engine cc     Model
0  kawasaki       1000      H2-r
1    ducati       1200  panigale
2       BMW       1000  s1000-rr

In [15]:
'''Q6. Which of the following is mutable in nature Series, DataFrame, Panel?'''

'Q6. Which of the following is mutable in nature Series, DataFrame, Panel?'

In [16]:
''' DataFrames are two-Dimensional array and are mutable in nature where as Panels are three-dimensional array and they are also mutable in nature'''

' DataFrames are two-Dimensional array and are mutable in nature where as Panels are three-dimensional array and they are also mutable in nature'

In [17]:
'''Q7. Create a DataFrame using multiple Series. Explain with an example.'''

'Q7. Create a DataFrame using multiple Series. Explain with an example.'